GROUP BY VI

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv(r"pandas\pandas\fortune1000.csv", index_col="Rank")
df.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [7]:
sectors = df.groupby("Sector")

In [10]:
sectors

In [13]:
len(sectors)
df["Sector"].nunique()

21

In [16]:
sectors.size().sort_values(ascending=False)

Sector
Financials                      139
Energy                          122
Technology                      102
Retailing                        80
Health Care                      75
Business Services                51
Industrials                      46
Food, Beverages & Tobacco        43
Materials                        43
Wholesalers                      40
Transportation                   36
Chemicals                        30
Household Products               28
Engineering & Construction       26
Hotels, Resturants & Leisure     25
Media                            25
Motor Vehicles & Parts           24
Aerospace & Defense              20
Apparel                          15
Telecommunications               15
Food and Drug Stores             15
dtype: int64

In [17]:
df["Sector"].value_counts()

Sector
Financials                      139
Energy                          122
Technology                      102
Retailing                        80
Health Care                      75
Business Services                51
Industrials                      46
Materials                        43
Food, Beverages & Tobacco        43
Wholesalers                      40
Transportation                   36
Chemicals                        30
Household Products               28
Engineering & Construction       26
Media                            25
Hotels, Resturants & Leisure     25
Motor Vehicles & Parts           24
Aerospace & Defense              20
Telecommunications               15
Apparel                          15
Food and Drug Stores             15
Name: count, dtype: int64

In [19]:
sectors.first()
sectors.last()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Delta Tucker Holdings,Aerospace and Defense,"McLean, VA",1923,-133,12000
Apparel,Guess,Apparel,"Los Angeles, CA",2204,82,13500
Business Services,DeVry Education Group,Education,"Downers Grove, IL",1910,140,11770
Chemicals,H.B. Fuller,Chemicals,"St. Paul, MN",2084,87,4425
Energy,Portland General Electric,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
Engineering & Construction,MDC Holdings,Homebuilders,"Denver, CO",1909,66,1225
Financials,New York Community Bancorp,Commercial Banks,"Westbury, NY",1902,-47,3448
Food and Drug Stores,Fred’s,Food and Drug Stores,"Memphis, TN",2151,-7,7103
"Food, Beverages & Tobacco",Alliance One International,Tobacco,"Morrisville, NC",2066,-15,6835
Health Care,Providence Service,Health Care: Pharmacy and Other Services,"Tucson, AZ",1987,84,9072
"Hotels, Resturants & Leisure",Wendy’s,Food Services,"Dublin, OH",1896,161,21200
Household Products,Revlon,Household and Personal Products,"New York, NY",1914,56,5700
Industrials,Briggs & Stratton,Industrial Machinery,"Wauwatosa, WI",1895,46,5480
Materials,Schnitzer Steel Industries,Metals,"Portland, OR",1924,-197,2955
Media,Cenveo,"Publishing, Printing","Stamford, CT",1921,-31,7300
Motor Vehicles & Parts,Allison Transmission Holdings,Motor Vehicles and Parts,"Indianaoplis, IN",1986,182,2700
Retailing,99 Cents Only Stores,Specialty Retailers: Other,"Commerce, CA",1999,-232,18200
Technology,F5 Networks,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178
Telecommunications,Equinix,Telecommunications,"Redwood City, CA",2726,188,5042
Transportation,Roadrunner Transportation Systems,Transportation and Logistics,"Cudahy, WI",1995,48,4502
Wholesalers,BlueLinx Holdings,Wholesalers: Diversified,"Atlanta, GA",1917,-12,1600

In [25]:
sectors.groups

{'Aerospace & Defense': [24, 45, 60, 88, 118, 120, 209, 245, 282, 378, 389, 490, 560, 605, 785, 788, 836, 903, 958, 987], 'Apparel': [91, 231, 340, 354, 448, 547, 575, 597, 683, 695, 726, 794, 877, 882, 917], 'Business Services': [144, 186, 199, 204, 221, 248, 249, 294, 307, 312, 355, 392, 404, 440, 467, 468, 481, 485, 492, 503, 545, 626, 635, 652, 677, 694, 714, 729, 734, 735, 737, 744, 767, 776, 777, 783, 791, 792, 796, 801, 803, 816, 819, 820, 869, 870, 886, 939, 951, 952, 993], 'Chemicals': [56, 101, 182, 189, 206, 253, 262, 277, 288, 296, 316, 538, 549, 555, 566, 580, 613, 624, 654, 668, 717, 720, 724, 758, 761, 829, 865, 898, 934, 949], 'Energy': [2, 14, 30, 32, 42, 65, 90, 95, 98, 104, 115, 117, 121, 162, 163, 165, 166, 175, 178, 188, 190, 192, 193, 198, 214, 216, 217, 223, 225, 229, 243, 246, 247, 257, 272, 274, 279, 289, 319, 322, 324, 343, 348, 349, 350, 363, 364, 384, 387, 388, 394, 402, 403, 410, 425, 437, 438, 445, 458, 475, 483, 493, 507, 522, 541, 548, 556, 558, 569, 571, 579, 598, 600, 606, 633, 650, 656, 662, 679, 692, 696, 703, 703, 706, 711, 715, 732, 742, 743, 745, 754, 772, 784, 798, 802, 810, 817, 826, 843, 850, ...], 'Engineering & Construction': [155, 156, 235, 260, 301, 314, 352, 381, 433, 478, 498, 501, 516, 572, 576, 640, 719, 738, 822, 863, 874, 892, 929, 963, 985, 994], 'Financials': [4, 16, 23, 26, 27, 29, 35, 40, 43, 49, 50, 61, 69, 73, 74, 76, 78, 81, 82, 83, 85, 100, 105, 112, 114, 131, 135, 137, 152, 171, 179, 184, 205, 210, 222, 226, 227, 232, 236, 250, 252, 259, 264, 265, 271, 273, 275, 283, 298, 306, 311, 318, 326, 329, 332, 344, 347, 367, 368, 376, 382, 398, 401, 411, 421, 436, 442, 449, 453, 453, 471, 472, 472, 476, 479, 482, 486, 488, 494, 497, 499, 506, 509, 510, 520, 529, 531, 536, 540, 551, 561, 568, 573, 590, 603, 609, 611, 646, 651, 663, ...], 'Food and Drug Stores': [7, 17, 19, 87, 107, 160, 181, 595, 614, 631, 669, 756, 809, 849, 928], 'Food, Beverages & Tobacco': [41, 44, 62, 66, 84, 94, 106, 149, 153, 161, 176, 207, 215, 242, 266, 304, 336, 337, 362, 397, 413, 429, 452, 456, 460, 535, 542, 567, 574, 587, 608, 615, 636, 664, 686, 702, 770, 787, 795, 804, 889, 902, 954], 'Health Care': [5, 6, 12, 21, 22, 33, 39, 46, 52, 55, 63, 72, 79, 86, 123, 124, 125, 130, 138, 140, 141, 168, 172, 200, 201, 202, 263, 268, 278, 286, 287, 290, 291, 305, 325, 358, 359, 372, 420, 430, 431, 447, 457, 465, 469, 515, 527, 537, 553, 559, 583, 618, 629, 661, 684, 693, 697, 708, 746, 749, 766, 775, 790, 799, 815, 818, 845, 868, 881, 883, 935, 960, 965, 977, 978], 'Hotels, Resturants & Leisure': [109, 146, 195, 218, 241, 254, 309, 371, 444, 466, 534, 546, 557, 562, 585, 731, 763, 764, 779, 797, 895, 915, 918, 941, 999], 'Household Products': [34, 151, 174, 256, 261, 328, 338, 345, 370, 434, 441, 450, 455, 533, 550, 554, 601, 665, 699, 716, 856, 890, 900, 907, 932, 950, 967, 992], 'Industrials': [11, 59, 75, 93, 97, 128, 134, 148, 211, 224, 360, 377, 396, 412, 419, 539, 544, 596, 622, 623, 630, 645, 655, 658, 666, 674, 690, 757, 782, 789, 806, 813, 823, 831, 832, 835, 841, 847, 866, 867, 873, 887, 942, 947, 964, 1000], 'Materials': [126, 127, 170, 244, 251, 303, 321, 341, 356, 373, 375, 383, 417, 418, 426, 435, 446, 480, 489, 514, 518, 577, 586, 616, 617, 620, 625, 628, 637, 639, 641, 660, 667, 687, 691, 751, 774, 793, 857, 885, 911, 982, 986], 'Media': [53, 96, 99, 203, 213, 255, 327, 366, 406, 414, 525, 530, 681, 705, 707, 722, 741, 752, 759, 762, 821, 913, 968, 969, 989], 'Motor Vehicles & Parts': [8, 9, 70, 147, 154, 169, 281, 310, 334, 339, 424, 428, 470, 588, 591, 604, 647, 670, 718, 739, 811, 957, 961, 979], 'Retailing': [1, 15, 28, 38, 47, 71, 89, 103, 111, 132, 136, 139, 143, 145, 177, 180, 191, 196, 197, 228, 234, 237, 238, 240, 258, 267, 269, 280, 293, 297, 299, 302, 330, 342, 346, 361, 365, 374, 379, 380, 393, 415, 427, 439, 495, 500, 502, 511, 512, 517, 523, 582, 592, 602, 607, 610, 621, 643, 644, 648, 657, 675, 689, 721, 748, 771, 773, 807, 812, 824, 825, 827, 840, 876, 894, 899, 922, 937, 940, 973], 'Technology': [3, 18, 20, 25, 31, 36, 51, 54, 77, 110, 113, 133, 150, 157, 158, 164, 173, 194, 219, 220, 230, 233, 284, 295, 300, 308, 313, 331, 385, 386, 400, 408, 409, 422, 451, 462, 464, 487, 491, 504, 505, 508, 513, 519, 524, 532, 543, 552, 563, 565, 584, 589, 593, 594, 612, 632, 634, 638, 649, 659, 673, 676, 678, 682, 688, 700, 725, 733, 736, 753, 760, 769, 778, 805, 830, 834, 842, 854, 864, 871, 888, 891, 893, 896, 904, 905, 906, 909, 912, 914, 919, 927, 931, 943, 944, 946, 956, 970, 971, 975, ...], 'Telecommunications': [10, 13, 37, 116, 159, 187, 292, 333, 399, 443, 461, 496, 526, 619, 786], 'Transportation': [48, 58, 67, 68, 80, 129, 142, 208, 239, 270, 353, 390, 395, 405, 407, 416, 432, 459, 521, 528, 570, 578, 642, 672, 709, 713, 740, 800, 814, 858, 884, 930, 933, 945, 972, 974], 'Wholesalers': [57, 64, 92, 102, 108, 119, 122, 167, 183, 185, 212, 276, 285, 315, 317, 320, 323, 335, 351, 357, 369, 391, 423, 463, 474, 477, 484, 564, 581, 599, 627, 653, 685, 727, 747, 780, 808, 837, 875, 991]}

In [30]:
sectors.get_group("Apparel")

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
231,VF,Apparel,Apparel,"Greensboro, NC",12377,1232,64000
340,PVH,Apparel,Apparel,"New York, NY",8020,572,26200
354,Ralph Lauren,Apparel,Apparel,"New York, NY",7620,702,20000
448,Hanesbrands,Apparel,Apparel,"Winston-Salem, NC",5732,429,65300
547,Levi Strauss,Apparel,Apparel,"San Francisco, CA",4495,209,12500
575,Coach,Apparel,Apparel,"New York, NY",4192,402,12950
597,Under Armour,Apparel,Apparel,"Baltimore, MD",3963,233,9600
683,Fossil Group,Apparel,Apparel,"Richardson, TX",3229,221,15100
695,Skechers U.S.A.,Apparel,Apparel,"Manhattan Beach, CA",3159,232,6400
726,Carter’s,Apparel,Apparel,"Atlanta, GA",3014,238,16800
794,Wolverine World Wide,Apparel,Apparel,"Rockford, MI",2692,123,6550
877,G-III Apparel Group,Apparel,Apparel,"New York, NY",2344,114,8919
882,Columbia Sportswear,Apparel,Apparel,"Portland, OR",2326,174,5978
917,Guess,Apparel,Apparel,"Los Angeles, CA",2204,82,13500

In [40]:
sectors.sum().loc["Apparel", "Revenue"]

95968

In [38]:
sectors.get_group("Apparel")["Revenue"].sum()

95968

In [49]:
sectors["Revenue"].sum().to_frame()

                              Revenue
Sector
Aerospace & Defense            357940
Apparel                         95968
Business Services              272195
Chemicals                      243897
Energy                        1517809
Engineering & Construction     153983
Financials                    2217159
Food and Drug Stores           483769
Food, Beverages & Tobacco      555967
Health Care                   1614707
Hotels, Resturants & Leisure   169546
Household Products             234737
Industrials                    497581
Materials                      259145
Media                          220764
Motor Vehicles & Parts         482540
Retailing                     1465076
Technology                    1377600
Telecommunications             461834
Transportation                 408508
Wholesalers                    444800

In [51]:
df
sectors["Employees"].sum()

Sector
Aerospace & Defense              968057
Apparel                          346397
Business Services               1361050
Chemicals                        463651
Energy                          1188927
Engineering & Construction       406708
Financials                      3359948
Food and Drug Stores            1395398
Food, Beverages & Tobacco       1211632
Health Care                     2678289
Hotels, Resturants & Leisure    2484245
Household Products               646038
Industrials                     1545229
Materials                        638123
Media                            550314
Motor Vehicles & Parts          1082560
Retailing                       6227629
Technology                      3578949
Telecommunications               832468
Transportation                  1536793
Wholesalers                      525597
Name: Employees, dtype: int64

In [58]:
sectors["Profits"].min()
sectors[["Employees", "Revenue"]].mean()

                                 Employees       Revenue
Sector
Aerospace & Defense           48402.850000  17897.000000
Apparel                       23093.133333   6397.866667
Business Services             26687.254902   5337.156863
Chemicals                     15455.033333   8129.900000
Energy                         9745.303279  12441.057377
Engineering & Construction    15642.615385   5922.423077
Financials                    24172.287770  15950.784173
Food and Drug Stores          93026.533333  32251.266667
Food, Beverages & Tobacco     28177.488372  12929.465116
Health Care                   35710.520000  21529.426667
Hotels, Resturants & Leisure  99369.800000   6781.840000
Household Products            23072.785714   8383.464286
Industrials                   33591.934783  10816.978261
Materials                     14840.069767   6026.627907
Media                         22012.560000   8830.560000
Motor Vehicles & Parts        45106.666667  20105.833333
Retailing                     77845.362500  18313.450000
Technology                    35087.735294  13505.882353
Telecommunications            55497.866667  30788.933333
Transportation                42688.694444  11347.444444
Wholesalers                   13139.925000  11120.000000

In [59]:
s = df.groupby(["Sector", "Industry"])

In [65]:
s.size().to_frame()

                                                                    0
Sector              Industry
Aerospace & Defense Aerospace and Defense                          20
Apparel             Apparel                                        15
Business Services   Advertising, marketing                          2
                    Diversified Outsourcing Services               14
                    Education                                       3
...                                                                ..
Transportation      Trucking, Truck Leasing                         9
Wholesalers         Miscellaneous                                   1
                    Wholesalers: Diversified                       25
                    Wholesalers: Electronics and Office Equipment   8
                    Wholesalers: Food and Grocery                   6

[79 rows x 1 columns]

In [67]:
s.sum().index

MultiIndex([(         'Aerospace & Defense', ...),
            (                     'Apparel', ...),
            (           'Business Services', ...),
            (           'Business Services', ...),
            (           'Business Services', ...),
            (           'Business Services', ...),
            (           'Business Services', ...),
            (           'Business Services', ...),
            (           'Business Services', ...),
            (                   'Chemicals', ...),
            (                      'Energy', ...),
            (                      'Energy', ...),
            (                      'Energy', ...),
            (                      'Energy', ...),
            (                      'Energy', ...),
            (                      'Energy', ...),
            (                      'Energy', ...),
            (  'Engineering & Construction', ...),
            (  'Engineering & Construction', ...),
            (                  'Financials', ...),
            (                  'Financials', ...),
            (                  'Financials', ...),
            (                  'Financials', ...),
            (                  'Financials', ...),
            (                  'Financials', ...),
            (                  'Financials', ...),
            (                  'Financials', ...),
            (        'Food and Drug Stores', ...),
            (   'Food, Beverages & Tobacco', ...),
            (   'Food, Beverages & Tobacco', ...),
            (   'Food, Beverages & Tobacco', ...),
            (   'Food, Beverages & Tobacco', ...),
            (                 'Health Care', ...),
            (                 'Health Care', ...),
            (                 'Health Care', ...),
            (                 'Health Care', ...),
            (                 'Health Care', ...),
            (                 'Health Care', ...),
            ('Hotels, Resturants & Leisure', ...),
            ('Hotels, Resturants & Leisure', ...),
            (          'Household Products', ...),
            (          'Household Products', ...),
            (          'Household Products', ...),
            (                 'Industrials', ...),
            (                 'Industrials', ...),
            (                 'Industrials', ...),
            (                 'Industrials', ...),
            (                   'Materials', ...),
            (                   'Materials', ...),
            (                   'Materials', ...),
            (                   'Materials', ...),
            (                   'Materials', ...),
            (                       'Media', ...),
            (                       'Media', ...),
            (      'Motor Vehicles & Parts', ...),
            (                   'Retailing', ...),
            (                   'Retailing', ...),
            (                   'Retailing', ...),
            (                   'Retailing', ...),
            (                  'Technology', ...),
            (                  'Technology', ...),
            (                  'Technology', ...),
            (                  'Technology', ...),
            (                  'Technology', ...),
            (                  'Technology', ...),
            (                  'Technology', ...),
            (                  'Technology', ...),
            (          'Telecommunications', ...),
            (              'Transportation', ...),
            (              'Transportation', ...),
            (              'Transportation', ...),
            (              'Transportation', ...),
            (              'Transportation', ...),
            (              'Transportation', ...),
            (              'Transportation', ...),
            (                 'Wholesalers', ...),
            (                 'Wholesalers', ...),
            (                 'Wholesalers', ...),
            (                 'Wholesalers', ...)],
           names=['Sector', 'Industry'])

In [71]:
s["Revenue"].sum()
#s.sum()["Revenue"]

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            357940
Apparel              Apparel                                           95968
Business Services    Advertising, marketing                            22748
                     Diversified Outsourcing Services                  64829
                     Education                                          7485
                                                                       ...
Transportation       Trucking, Truck Leasing                           35950
Wholesalers          Miscellaneous                                      8982
                     Wholesalers: Diversified                         176138
                     Wholesalers: Electronics and Office Equipment    147906
                     Wholesalers: Food and Grocery                    111774
Name: Revenue, Length: 79, dtype: int64

In [75]:
s["Profits"].mean().sort_values(ascending=False)

Sector              Industry
Technology          Computers, Office Equipment        8347.571429
Industrials         Miscellaneous                      4833.000000
Financials          Commercial Banks                   4634.285714
Health Care         Pharmaceuticals                    4551.533333
Telecommunications  Telecommunications                 3242.466667
                                                          ...
Materials           Metals                             -160.071429
Media               Publishing, Printing               -191.285714
Energy              Oil and Gas Equipment, Services    -449.666667
                    Energy                             -931.285714
                    Mining, Crude-Oil Production      -4448.392857
Name: Profits, Length: 79, dtype: float64

In [76]:
sectors.agg({"Revenue": "sum",
             "Profits": "sum", 
             "Employees": "mean"})

                              Revenue  Profits     Employees
Sector
Aerospace & Defense            357940    28742  48402.850000
Apparel                         95968     8236  23093.133333
Business Services              272195    28227  26687.254902
Chemicals                      243897    22628  15455.033333
Energy                        1517809   -73447   9745.303279
Engineering & Construction     153983     5304  15642.615385
Financials                    2217159   260209  24172.287770
Food and Drug Stores           483769    16759  93026.533333
Food, Beverages & Tobacco      555967    51417  28177.488372
Health Care                   1614707   106114  35710.520000
Hotels, Resturants & Leisure   169546    20697  99369.800000
Household Products             234737    14428  23072.785714
Industrials                    497581    20764  33591.934783
Materials                      259145     4428  14840.069767
Media                          220764    24347  22012.560000
Motor Vehicles & Parts         482540    25898  45106.666667
Retailing                     1465076    47830  77845.362500
Technology                    1377600   180473  35087.735294
Telecommunications             461834    48637  55497.866667
Transportation                 408508    44169  42688.694444
Wholesalers                    444800     8233  13139.925000

In [78]:
sectors.agg(["size", "sum"])

                             Company  \
                                size
Sector
Aerospace & Defense               20
Apparel                           15
Business Services                 51
Chemicals                         30
Energy                           122
Engineering & Construction        26
Financials                       139
Food and Drug Stores              15
Food, Beverages & Tobacco         43
Health Care                       75
Hotels, Resturants & Leisure      25
Household Products                28
Industrials                       46
Materials                         43
Media                             25
Motor Vehicles & Parts            24
Retailing                         80
Technology                       102
Telecommunications                15
Transportation                    36
Wholesalers                       40

                                                                                 \
                                                                            sum
Sector
Aerospace & Defense           BoeingUnited TechnologiesLockheed MartinGenera...
Apparel                       NikeVFPVHRalph LaurenHanesbrandsLevi StraussCo...
Business Services             ManpowerGroupOmnicom GroupAramarkVisaWaste Man...
Chemicals                     Dow ChemicalDuPontPPG IndustriesMonsantoEcolab...
Energy                        Exxon MobilChevronPhillips 66Valero EnergyMara...
Engineering & Construction    FluorAECOMJacobs Engineering GroupD.R. HortonL...
Financials                    Berkshire HathawayFannie MaeJ.P. Morgan ChaseB...
Food and Drug Stores          CVS HealthKrogerWalgreens Boots AlliancePublix...
Food, Beverages & Tobacco     Archer Daniels MidlandPepsiCoCoca-ColaTyson Fo...
Health Care                   McKessonUnitedHealth GroupAmerisourceBergenCar...
Hotels, Resturants & Leisure  McDonald’sStarbucksMarriott InternationalYum B...
Household Products            Procter & GambleKimberly-ClarkColgate-Palmoliv...
Industrials                   General ElectricCaterpillarHoneywell Internati...
Materials                     AlcoaInternational PaperNucorUnited States Ste...
Media                         DisneyTwenty-First Century FoxTime WarnerCBSVi...
Motor Vehicles & Parts        General MotorsFord MotorJohnson ControlsPaccar...
Retailing                     WalmartCostcoHome DepotTargetLowe’sBest BuyTJX...
Technology                    AppleAmazon.comHPMicrosoftIBMAlphabetIntelCisc...
Telecommunications            AT&TVerizonComcastTime Warner CableCenturyLink...
Transportation                UPSFedExAmerican Airlines GroupDelta Air Lines...
Wholesalers                   SyscoIngram MicroWorld Fuel ServicesAvnetTech ...

                             Industry  \
                                 size
Sector
Aerospace & Defense                20
Apparel                            15
Business Services                  51
Chemicals                          30
Energy                            122
Engineering & Construction         26
Financials                        139
Food and Drug Stores               15
Food, Beverages & Tobacco          43
Health Care                        75
Hotels, Resturants & Leisure       25
Household Products                 28
Industrials                        46
Materials                          43
Media                              25
Motor Vehicles & Parts             24
Retailing                          80
Technology                        102
Telecommunications                 15
Transportation                     36
Wholesalers                        40

                                                                                 \
                                                                            sum
Sector
Aerospace & Defense           Aerospace and DefenseAerospace and DefenseAero...
Apparel                       ApparelApparelApparelApparelApparelApparelAppa...
Business Services             Temporary HelpAdvertising, marketingDiversifie...
Chemicals                     ChemicalsChemicalsChemicalsChemicalsChemicalsC...
Energy                        Petroleum RefiningPetroleum RefiningPetroleum ...
Engineering & Construction    Engineering, ConstructionEngineering, Construc...
Financials                    Insurance: Property and Casualty (Stock)Divers...
Food and Drug Stores          Food and Drug StoresFood and Drug StoresFood a...
Food, Beverages & Tobacco     Food ProductionFood Consumer ProductsBeverages...
Health Care                   Wholesalers: Health CareHealth Care: Insurance...
Hotels, Resturants & Leisure  Food ServicesFood ServicesHotels, Casinos, Res...
Household Products            Household and Personal ProductsHousehold and P...
Industrials                   Industrial MachineryConstruction and Farm Mach...
Materials                     MetalsPackaging, ContainersMetalsMetalsPackagi...
Media                         EntertainmentEntertainmentEntertainmentEnterta...
Motor Vehicles & Parts        Motor Vehicles and PartsMotor Vehicles and Par...
Retailing                     General MerchandisersSpecialty Retailers: Othe...
Technology                    Computers, Office EquipmentInternet Services a...
Telecommunications            TelecommunicationsTelecommunicationsTelecommun...
Transportation                Mail, Package, and Freight DeliveryMail, Packa...
Wholesalers                   Wholesalers: Food and GroceryWholesalers: Elec...

                             Location  \
                                 size
Sector
Aerospace & Defense                20
Apparel                            15
Business Services                  51
Chemicals                          30
Energy                            122
Engineering & Construction         26
Financials                        139
Food and Drug Stores               15
Food, Beverages & Tobacco          43
Health Care                        75
Hotels, Resturants & Leisure       25
Household Products                 28
Industrials                        46
Materials                          43
Media                              25
Motor Vehicles & Parts             24
Retailing                          80
Technology                        102
Telecommunications                 15
Transportation                     36
Wholesalers                        40

                                                                                 \
                                                                            sum
Sector
Aerospace & Defense           Chicago, ILFarmington, CTBethesda, MDFalls Chu...
Apparel                       Beaverton, ORGreensboro, NCNew York, NYNew Yor...
Business Services             Milwaukee, WINew York, NYPhiladelphia, PAFoste...
Chemicals                     Midland, MIWilmington, DEPittsburgh, PASt. Lou...
Energy                        Irving, TXSan Ramon, CAHouston, TXSan Antonio,...
Engineering & Construction    Irving, TXLos Angeles, CAPasadena, CAFort Wort...
Financials                    Omaha, NEWashington, DCNew York, NYCharlotte, ...
Food and Drug Stores          Woonsocket, RICincinnati, OHDeerfield, ILLakel...
Food, Beverages & Tobacco     Chicago, ILPurchase, NYAtlanta, GASpringdale, ...
Health Care                   San Francisco, CAMinnetonka, MNChesterbrook, P...
Hotels, Resturants & Leisure  Oak Brook, ILSeattle, WABethesda, MDLouisville...
Household Products            Cincinnati, OHIrving, TXNew York, NYNew Britai...
Industrials                   Fairfield, CTPeoria, ILMorris Plains, NJSt. Pa...
Materials                     New York, NYMemphis, TNCharlotte, NCPittsburgh...
Media                         Burbank, CANew York, NYNew York, NYNew York, N...
Motor Vehicles & Parts        Detroit, MIDearborn, MIMilwaukee, WIBellevue, ...
Retailing                     Bentonville, ARIssaquah, WAAtlanta, GAMinneapo...
Technology                    Cupertino, CASeattle, WAPalo Alto, CARedmond, ...
Telecommunications            Dallas, TXNew York, NYPhiladelphia, PANew York...
Transportation                Atlanta, GAMemphis, TNFort Worth, TXAtlanta, G...
Wholesalers                   Houston, TXIrvine, CAMiami, FLPhoenix, AZClear...

                             Revenue          Profits         Employees  \
                                size      sum    size     sum      size
Sector
Aerospace & Defense               20   357940      20   28742        20
Apparel                           15    95968      15    8236        15
Business Services                 51   272195      51   28227        51
Chemicals                         30   243897      30   22628        30
Energy                           122  1517809     122  -73447       122
Engineering & Construction        26   153983      26    5304        26
Financials                       139  2217159     139  260209       139
Food and Drug Stores              15   483769      15   16759        15
Food, Beverages & Tobacco         43   555967      43   51417        43
Health Care                       75  1614707      75  106114        75
Hotels, Resturants & Leisure      25   169546      25   20697        25
Household Products                28   234737      28   14428        28
Industrials                       46   497581      46   20764        46
Materials                         43   259145      43    4428        43
Media                             25   220764      25   24347        25
Motor Vehicles & Parts            24   482540      24   25898        24
Retailing                         80  1465076      80   47830        80
Technology                       102  1377600     102  180473       102
Telecommunications                15   461834      15   48637        15
Transportation                    36   408508      36   44169        36
Wholesalers                       40   444800      40    8233        40


                                  sum
Sector
Aerospace & Defense            968057
Apparel                        346397
Business Services             1361050
Chemicals                      463651
Energy                        1188927
Engineering & Construction     406708
Financials                    3359948
Food and Drug Stores          1395398
Food, Beverages & Tobacco     1211632
Health Care                   2678289
Hotels, Resturants & Leisure  2484245
Household Products             646038
Industrials                   1545229
Materials                      638123
Media                          550314
Motor Vehicles & Parts        1082560
Retailing                     6227629
Technology                    3578949
Telecommunications             832468
Transportation                1536793
Wholesalers                    525597

In [79]:
sectors.agg({"Revenue": "sum",
             "Profits": ["sum", "mean", "size"], 
             "Employees": "mean"})

                              Revenue Profits                       Employees
                                  sum     sum         mean size          mean
Sector
Aerospace & Defense            357940   28742  1437.100000   20  48402.850000
Apparel                         95968    8236   549.066667   15  23093.133333
Business Services              272195   28227   553.470588   51  26687.254902
Chemicals                      243897   22628   754.266667   30  15455.033333
Energy                        1517809  -73447  -602.024590  122   9745.303279
Engineering & Construction     153983    5304   204.000000   26  15642.615385
Financials                    2217159  260209  1872.007194  139  24172.287770
Food and Drug Stores           483769   16759  1117.266667   15  93026.533333
Food, Beverages & Tobacco      555967   51417  1195.744186   43  28177.488372
Health Care                   1614707  106114  1414.853333   75  35710.520000
Hotels, Resturants & Leisure   169546   20697   827.880000   25  99369.800000
Household Products             234737   14428   515.285714   28  23072.785714
Industrials                    497581   20764   451.391304   46  33591.934783
Materials                      259145    4428   102.976744   43  14840.069767
Media                          220764   24347   973.880000   25  22012.560000
Motor Vehicles & Parts         482540   25898  1079.083333   24  45106.666667
Retailing                     1465076   47830   597.875000   80  77845.362500
Technology                    1377600  180473  1769.343137  102  35087.735294
Telecommunications             461834   48637  3242.466667   15  55497.866667
Transportation                 408508   44169  1226.916667   36  42688.694444
Wholesalers                    444800    8233   205.825000   40  13139.925000

In [80]:
sectors["Profits"].max()

Sector
Aerospace & Defense              7608
Apparel                          3273
Business Services                6328
Chemicals                        7685
Energy                          16150
Engineering & Construction        803
Financials                      24442
Food and Drug Stores             5237
Food, Beverages & Tobacco        7351
Health Care                     18108
Hotels, Resturants & Leisure     5920
Household Products               7036
Industrials                      4833
Materials                         991
Media                            8382
Motor Vehicles & Parts           9687
Retailing                       14694
Technology                      53394
Telecommunications              17879
Transportation                   7610
Wholesalers                      1472
Name: Profits, dtype: int64

In [83]:
fram = pd.DataFrame(columns=df.columns)
fram

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [91]:
sectors.groups
for sec in sectors.groups:
    for i in sectors.groups[sec]:
        rev = df.loc[i, "Revenue"]
        if rev == sectors["Revenue"].max()[sec]:
            fram.loc[i] = df.loc[i]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [109]:
i = 0
for sec, data in sectors:
    row = data.nlargest(1, "Revenue")
    #print(row.values)
    fram.loc[i] = row.values[0]
    i += 1
fram

,Company,Sector,Industry,Location,Revenue,Profits,Employees
24,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114,5176,161400
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
144,ManpowerGroup,Business Services,Temporary Help,"Milwaukee, WI",19330,419,27000
56,Dow Chemical,Chemicals,Chemicals,"Midland, MI",48778,7685,49495
2,ManpowerGroup,Business Services,Temporary Help,"Milwaukee, WI",19330,419,27000
0,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114,5176,161400
1,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
3,Dow Chemical,Chemicals,Chemicals,"Midland, MI",48778,7685,49495
4,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
5,Fluor,Engineering & Construction,"Engineering, Construction","Irving, TX",18114,413,38758
6,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
8,Archer Daniels Midland,"Food, Beverages & Tobacco",Food Production,"Chicago, IL",67702,1849,32300
9,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
10,McDonald’s,"Hotels, Resturants & Leisure",Food Services,"Oak Brook, IL",25413,4529,420000
11,Procter & Gamble,Household Products,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
12,General Electric,Industrials,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
13,Alcoa,Materials,Metals,"New York, NY",22534,-322,60000
14,Disney,Media,Entertainment,"Burbank, CA",52465,8382,185000
15,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
16,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
17,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
18,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450
19,UPS,Transportation,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
20,Sysco,Wholesalers,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

In [111]:
locations = df.groupby("Location")

In [119]:
i = 0
d = pd.DataFrame(columns=df.columns)
for loca, data in locations:
    row = data.nlargest(1, "Revenue")
    d.loc[i] = row.values[0]
    i += 1 
d

,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,Abbott Laboratories,Health Care,Medical Products and Equipment,"Abbott Park, IL",20661,4423,74000
1,Goodyear Tire & Rubber,Motor Vehicles & Parts,Motor Vehicles and Parts,"Akron, OH",16443,307,66000
2,Air Products & Chemicals,Chemicals,Chemicals,"Allentown, PA",9895,1278,19550
3,Benchmark Electronics,Technology,Semiconductors and Other Electronic Components,"Angleton, TX",2541,95,10500
4,Casey’s General Stores,Retailing,Specialty Retailers: Other,"Ankeny, IA",7052,181,22408
...,...,...,...,...,...,...,...
411,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
412,Hanover Insurance Group,Financials,Insurance: Property and Casualty (Stock),"Worcester, MA",5034,332,4800
413,Penn National Gaming,"Hotels, Resturants & Leisure","Hotels, Casinos, Resorts","Wyomissing, PA",2838,1,18204
414,Bon-Ton Stores,Retailing,General Merchandisers,"York, PA",2790,-57,24100
415,Herman Miller,Household Products,"Home Equipment, Furnishings","Zeeland, MI",2142,98,7510

In [32]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}