OUTPUTS AND INPUTS IX

In [2]:
import pandas as pd

In [6]:
df = pd.read_csv(r"pandas\pandas\Popular_Baby_Names.csv")

In [8]:
df

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
0,2019,FEMALE,ASIAN AND PACIFIC ISLANDER,Chloe,131,1
1,2019,FEMALE,ASIAN AND PACIFIC ISLANDER,Olivia,109,2
2,2019,FEMALE,ASIAN AND PACIFIC ISLANDER,Mia,88,3
3,2019,FEMALE,ASIAN AND PACIFIC ISLANDER,Sophia,71,4
4,2019,FEMALE,ASIAN AND PACIFIC ISLANDER,Emma,71,4
...,...,...,...,...,...,...
57577,2011,MALE,WHITE NON HISPANIC,BRYCE,10,97
57578,2011,MALE,WHITE NON HISPANIC,DEREK,10,97
57579,2011,MALE,WHITE NON HISPANIC,STEPHEN,10,97
57580,2011,MALE,WHITE NON HISPANIC,AUGUSTUS,10,97
57581,2011,MALE,WHITE NON HISPANIC,CALVIN,10,97

In [14]:
df["Child's First Name"].to_dict()

{0: 'Chloe',
 1: 'Olivia',
 2: 'Mia',
 3: 'Sophia',
 4: 'Emma',
 5: 'Amelia',
 6: 'Charlotte',
 7: 'Emily',
 8: 'Grace',
 9: 'Isabella',
 10: 'Ella',
 11: 'Ava',
 12: 'Evelyn',
 13: 'Hannah',
 14: 'Bella',
 15: 'Aria',
 16: 'Hailey',
 17: 'Sarah',
 18: 'Arya',
 19: 'Claire',
 20: 'Ellie',
 21: 'Fatima',
 22: 'Kayla',
 23: 'Maryam',
 24: 'Zoe',
 25: 'Audrey',
 26: 'Abigail',
 27: 'Anna',
 28: 'Avery',
 29: 'Alyssa',
 30: 'Maya',
 31: 'Tenzin',
 32: 'Alice',
 33: 'Celine',
 34: 'Emilia',
 35: 'Inaaya',
 36: 'Jasmine',
 37: 'Riley',
 38: 'Sofia',
 39: 'Zoey',
 40: 'Alina',
 41: 'Fiona',
 42: 'Joanna',
 43: 'Anaya',
 44: 'Annie',
 45: 'Ayesha',
 46: 'Eva',
 47: 'Leah',
 48: 'Luna',
 49: 'Sophie',
 50: 'Zainab',
 51: 'Amaya',
 52: 'Angela',
 53: 'Elena',
 54: 'Mila',
 55: 'Anabia',
 56: 'Inaya',
 57: 'Ariana',
 58: 'Manha',
 59: 'Penelope',
 60: 'Zara',
 61: 'Katherine',
 62: 'Nina',
 63: 'Aiza',
 64: 'Kylie',
 65: 'Jannatul',
 66: 'Irene',
 67: 'Harper',
 68: 'Eliana',
 69: 'Eleanor',
 70: 'Aliza',
 71: 'Phoebe',
 72: 'Natalie',
 73: 'Layla',
 74: 'Scarlett',
 75: 'Zahra',
 76: 'Sara',
 77: 'Ariel',
 78: 'Ashley',
 79: 'Ayat',
 80: 'Cynthia',
 81: 'Jessica',
 82: 'Jocelyn',
 83: 'Madeline',
 84: 'Vivian',
 85: 'Stella',
 86: 'Rachel',
 87: 'Melody',
 88: 'Madison',
 89: 'Khadija',
 90: 'Catherine',
 91: 'Angelina',
 92: 'Amy',
 93: 'Abby',
 94: 'Julia',
 95: 'Nora',
 96: 'Athena',
 97: 'Naomi',
 98: 'Michelle',
 99: 'Kaylee',
 100: 'Ivy',
 101: 'Elizabeth',
 102: 'Elise',
 103: 'Aurora',
 104: 'Ariella',
 105: 'Allison',
 106: 'Aleena',
 107: 'Ada',
 108: 'Ophelia',
 109: 'Mariam',
 110: 'Lily',
 111: 'Kiara',
 112: 'Karen',
 113: 'Joy',
 114: 'Isla',
 115: 'Iris',
 116: 'Erin',
 117: 'Daisy',
 118: 'Cecilia',
 119: 'Alexandra',
 120: 'Zoya',
 121: 'Skylar',
 122: 'Stephanie',
 123: 'Ruby',
 124: 'Rhea',
 125: 'Norah',
 126: 'Miya',
 127: 'Kira',
 128: 'Kelly',
 129: 'Esther',
 130: 'Elina',
 131: 'Angie',
 132: 'Alisha',
 133: 'Aaliyah',
 134: 'Violet',
 135: 'Lena',
 136: 'Lydia',
 137: 'Madeleine',
 138: 'Muntaha',
 139: 'Nabiha',
 140: 'Nicole',
 141: 'Selina',
 142: 'Serena',
 143: 'Vanessa',
 144: 'Vicky',
 145: 'Aisha',
 146: 'Alayna',
 147: 'Aliya',
 148: 'Amara',
 149: 'Ayra',
 150: 'Dua',
 151: 'Hazel',
 152: 'Helen',
 153: 'Hoorain',
 154: 'Janice',
 155: 'Jannat',
 156: 'Josephine',
 157: 'Ava',
 158: 'Madison',
 159: 'Skylar',
 160: 'Riley',
 161: 'Amelia',
 162: 'Olivia',
 163: 'Zuri',
 164: 'Isabella',
 165: 'Fatoumata',
 166: 'Zoey',
 167: 'Serenity',
 168: 'Chloe',
 169: 'Fatima',
 170: 'Aria',
 171: 'Leah',
 172: 'Melody',
 173: 'Mariam',
 174: 'Amina',
 175: 'Nova',
 176: 'Aaliyah',
 177: 'Brielle',
 178: 'Layla',
 179: 'Mia',
 180: 'Grace',
 181: 'Sophia',
 182: 'Nyla',
 183: 'Aisha',
 184: 'Miracle',
 185: 'Kylie',
 186: 'Wynter',
 187: 'Savannah',
 188: 'Reign',
 189: 'Kehlani',
 190: 'Kayla',
 191: 'Autumn',
 192: 'Harmony',
 193: 'Amira',
 194: 'Aminata',
 195: 'Abigail',
 196: 'Zoe',
 197: 'Naomi',
 198: 'Leilani',
 199: 'Bella',
 200: 'Ariah',
 201: 'Gianna',
 202: 'Nevaeh',
 203: 'Phoenix',
 204: 'Taylor',
 205: 'Genesis',
 206: 'Amiyah',
 207: 'Emma',
 208: 'Faith',
 209: 'Jade',
 210: 'Journee',
 211: 'London',
 212: 'Makayla',
 213: 'Mya',
 214: 'Rylee',
 215: 'Gabriella',
 216: 'Jayla',
 217: 'Kali',
 218: 'Kennedy',
 219: 'Malia',
 220: 'Nylah',
 221: 'Summer',
 222: 'Victoria',
 223: 'Jordyn',
 224: 'Ariana',
 225: 'Arielle',
 226: 'Gabrielle',
 227: 'Peyton',
 228: 'Paige',
 229: 'Maliyah',
 230: 'Hannah',
 231: 'Amaya',
 232: 'Sienna',
 233: 'Sarai',
 234: 'Paris',
 235: 'Khloe',
 236: 'Destiny',
 237: 'Arya',
 238: 'Alani',
 239: 'Ariel',
 240: 'Avery',
 241: 'Dream',
 242: 'Ella',
 243: 'Imani',
 244: 'Kaylee',
 245: 'Lyric',
 246: 'Khadijah',
 247: 'Dior',
 248: 'Aubrey',
 249: 'Amora',
 250: 'Amara',
 251: 'Aicha',
 252: 'Sarah',
 253: 'Ryan',
 254: 'Royalty',
 255: 'Milan',
 256: 'Maya',
 257: 'Mariama',
 258: 'Mackenzie',
 259: 'Leila',
 260: 'Kimora',
 261: 'Michelle',
 262: 'Laila',
 263: 'Journey',
 264: 'Isabelle',
 265: 'Bintou',
 266: 'Aliyah',
 267: 'Winter',
 268: 'Shiloh',
 269: 'Sage',
 270: 'Milani',
 271: 'Melanie',
 272: 'Amirah',
 273: 'Zainab',
 274: 'Trinity',
 275: 'Jasmine',
 276: 'Jaliyah',
 277: 'Hope',
 278: 'Hailey',
 279: 'Emily',
 280: 'Alexis',
 281: 'Luna',
 282: 'Maryam',
 283: 'Nia',
 284: 'Skylah',
 285: 'Anaya',
 286: 'Arianna',
 287: 'Cali',
 288: 'Elizabeth',
 289: 'Eva',
 290: 'Jewel',
 291: 'Kori',
 292: 'Londyn',
 293: 'Brianna',
 294: 'Chelsea',
 295: 'Egypt',
 296: 'Eliana',
 297: 'Janiyah',
 298: 'Jada',
 299: 'Lauren',
 300: 'Mckenzie',
 301: 'Morgan',
 302: 'Sapphire',
 303: 'Tori',
 304: 'Zara',
 305: 'Zora',
 306: 'Kalani',
 307: 'Amayah',
 308: 'Aniyah',
 309: 'Aurora',
 310: 'Ariyah',
 311: 'Hawa',
 312: 'Kamiyah',
 313: 'Kenzie',
 314: 'Khadija',
 315: 'Khaleesi',
 316: 'Lauryn',
 317: 'Nailah',
 318: 'Nala',
 319: 'Oumou',
 320: 'Royal',
 321: 'Sanai',
 322: 'Sariyah',
 323: 'Sevyn',
 324: 'Zariah',
 325: 'Zhuri',
 326: 'Gia',
 327: 'Eden',
 328: 'Amani',
 329: 'Isabella',
 330: 'Emma',
 331: 'Sophia',
 332: 'Mia',
 333: 'Camila',
 334: 'Luna',
 335: 'Valentina',
 336: 'Sofia',
 337: 'Victoria',
 338: 'Olivia',
 339: 'Ava',
 340: 'Amelia',
 341: 'Alaia',
 342: 'Leah',
 343: 'Zoe',
 344: 'Genesis',
 345: 'Abigail',
 346: 'Scarlett',
 347: 'Emily',
 348: 'Ashley',
 349: 'Ariana',
 350: 'Penelope',
 351: 'Samantha',
 352: 'Charlotte',
 353: 'Hailey',
 354: 'Mila',
 355: 'Chloe',
 356: 'Elizabeth',
 357: 'Melanie',
 358: 'Madison',
 359: 'Allison',
 360: 'Gianna',
 361: 'Elena',
 362: 'Bella',
 363: 'Amy',
 364: 'Amaya',
 365: 'Kaylee',
 366: 'Grace',
 367: 'Valerie',
 368: 'Alexa',
 369: 'Gabriella',
 370: 'Emilia',
 371: 'Eliana',
 372: 'Brianna',
 373: 'Arya',
 374: 'Daniela',
 375: 'Riley',
 376: 'Kimberly',
 377: 'Maya',
 378: 'Valeria',
 379: 'Jade',
 380: 'Arianna',
 381: 'Sarah',
 382: 'Kylie',
 383: 'Ana',
 384: 'Layla',
 385: 'Aria',
 386: 'Amaia',
 387: 'Emely',
 388: 'Amalia',
 389: 'Natalie',
 390: 'Leilani',
 391: 'Aaliyah',
 392: 'Zoey',
 393: 'Hannah',
 394: 'Evelyn',
 395: 'Eva',
 396: 'Andrea',
 397: 'Jayleen',
 398: 'Samara',
 399: 'Lia',
 400: 'Juliet',
 401: 'Alison',
 402: 'Isabel',
 403: 'Kayla',
 404: 'Khloe',
 405: 'Maria',
 406: 'Melody',
 407: 'Savannah',
 408: 'Violet',
 409: 'Rose',
 410: 'Lucia',
 411: 'Diana',
 412: 'Kiara',
 413: 'Kamila',
 414: 'Aliyah',
 415: 'Gabriela',
 416: 'Alice',
 417: 'Jazlyn',
 418: 'Natalia',
 419: 'Serenity',
 420: 'Athena',
 421: 'Celine',
 422: 'Ella',
 423: 'Michelle',
 424: 'Alina',
 425: 'Antonella',
 426: 'Juliette',
 427: 'Sarai',
 428: 'Alexandra',
 429: 'Amanda',
 430: 'Avery',
 431: 'Kaylani',
 432: 'Aurora',
 433: 'Stephanie',
 434: 'Nova',
 435: 'Alyssa',
 436: 'Jasmine',
 437: 'Nicole',
 438: 'Adriana',
 439: 'Ximena',
 440: 'Maia',
 441: 'Alana',
 442: 'Danna',
 443: 'Esther',
 444: 'Liliana',
 445: 'London',
 446: 'Ariella',
 447: 'Melany',
 448: 'Skylar',
 449: 'Sophie',
 450: 'Aleah',
 451: 'Catalina',
 452: 'Leslie',
 453: 'Naomi',
 454: 'Sienna',
 455: 'Mariana',
 456: 'Liana',
 457: 'Itzel',
 458: 'Giselle',
 459: 'Ellie',
 460: 'Destiny',
 461: 'Daniella',
 462: 'Aubrey',
 463: 'Angela',
 464: 'Vanessa',
 465: 'Madelyn',
 466: 'Kailani',
 467: 'Katherine',
 468: 'Ruby',
 469: 'Valery',
 470: 'Yaretzi',
 471: 'Angelina',
 472: 'Angie',
 473: 'Alia',
 474: 'Amber',
 475: 'Amira',
 476: 'Anastasia',
 477: 'Autumn',
 478: 'Briana',
 479: 'Brielle',
 480: 'Alessia',
 481: 'Jayla',
 482: 'Jazmin',
 483: 'Juliana',
 484: 'Keyla',
 485: 'Luciana',
 486: 'Nyla',
 487: 'Rachel',
 488: 'Zara',
 489: 'Alma',
 490: 'Alondra',
 491: 'Dahlia',
 492: 'Dayana',
 493: 'Eliza',
 494: 'Esmeralda',
 495: 'Julia',
 496: 'Kehlani',
 497: 'Laila',
 498: 'Malia',
 499: 'Nylah',
 500: 'Nashla',
 501: 'Alanna',
 502: 'Audrey',
 503: 'Eileen',
 504: 'Elisa',
 505: 'Lily',
 506: 'Lizbeth',
 507: 'Melissa',
 508: 'Sara',
 509: 'Selena',
 510: 'Summer',
 511: 'Mya',
 512: 'Adeline',
 513: 'Alani',
 514: 'Analia',
 515: 'Angelica',
 516: 'Annalise',
 517: 'April',
 518: 'Ariel',
 519: 'Julissa',
 520: 'Delilah',
 521: 'Stella',
 522: 'Lauren',
 523: 'Meghan',
 524: 'Luz',
 525: 'Khaleesi',
 526: 'Heaven',
 527: 'Liah',
 528: 'Leila',
 529: 'Alayna',
 530: 'Zuri',
 531: 'Miah',
 532: 'Lesly',
 533: 'Karen',
 534: 'Kaitlyn',
 535: 'Jessica',
 536: 'Isabelle',
 537: 'Isabela',
 538: 'Guadalupe',
 539: 'Elianny',
 540: 'Dara',
 541: 'Amara',
 542: 'Aileen',
 543: 'Adelynn',
 544: 'Ailani',
 545: 'Alicia',
 546: 'Arlette',
 547: 'Aubree',
 548: 'Ayla',
 549: 'Bianca',
 550: 'Cali',
 551: 'Evangeline',
 552: 'Everly',
 553: 'Fernanda',
 554: 'Heidy',
 555: 'Jaylin',
 556: 'Jennifer',
 557: 'Miracle',
 558: 'Miranda',
 559: 'Rylee',
 560: 'Abby',
 561: 'Adele',
 562: 'Alahia',
 563: 'Cataleya',
 564: 'Crystal',
 565: 'Gia',
 566: 'Harley',
 567: 'Izabella',
 568: 'Julianna',
 569: 'Kali',
 570: 'Keily',
 571: 'Laia',
 572: 'Litzy',
 573: 'Lyanna',
 574: 'Mackenzie',
 575: 'Milani',
 576: 'Nina',
 577: 'Scarlet',
 578: 'Sherlyn',
 579: 'Skyla',
 580: 'Tiffany',
 581: 'Yareli',
 582: 'Yaritza',
 583: 'Chaya',
 584: 'Leah',
 585: 'Esther',
 586: 'Olivia',
 587: 'Miriam',
 588: 'Emma',
 589: 'Rachel',
 590: 'Sarah',
 591: 'Charlotte',
 592: 'Sophia',
 593: 'Rivka',
 594: 'Sara',
 595: 'Mia',
 596: 'Chana',
 597: 'Ella',
 598: 'Sofia',
 599: 'Emily',
 600: 'Ava',
 601: 'Gitty',
 602: 'Maya',
 603: 'Lily',
 604: 'Amelia',
 605: 'Zoe',
 606: 'Penelope',
 607: 'Sophie',
 608: 'Faigy',
 609: 'Isabella',
 610: 'Victoria',
 611: 'Mila',
 612: 'Malky',
 613: 'Alexandra',
 614: 'Elizabeth',
 615: 'Emilia',
 616: 'Abigail',
 617: 'Rivky',
 618: 'Eleanor',
 619: 'Baila',
 620: 'Hannah',
 621: 'Grace',
 622: 'Avery',
 623: 'Chloe',
 624: 'Julia',
 625: 'Nora',
 626: 'Anna',
 627: 'Eva',
 628: 'Layla',
 629: 'Malka',
 630: 'Evelyn',
 631: 'Madison',
 632: 'Aria',
 633: 'Eliana',
 634: 'Stella',
 635: 'Ruby',
 636: 'Violet',
 637: 'Rose',
 638: 'Josephine',
 639: 'Gabriella',
 640: 'Lucy',
 641: 'Scarlett',
 642: 'Isla',
 643: 'Raizy',
 644: 'Sienna',
 645: 'Dina',
 646: 'Riley',
 647: 'Noa',
 648: 'Harper',
 649: 'Naomi',
 650: 'Valentina',
 651: 'Hindy',
 652: 'Devorah',
 653: 'Margot',
 654: 'Chany',
 655: 'Shaindy',
 656: 'Sadie',
 657: 'Lillian',
 658: 'Clara',
 659: 'Juliette',
 660: 'Luna',
 661: 'Toby',
 662: 'Vivian',
 663: 'Chava',
 664: 'Esty',
 665: 'Rebecca',
 666: 'Natalie',
 667: 'Maria',
 668: 'Isabel',
 669: 'Libby',
 670: 'Sury',
 671: 'Ariana',
 672: 'Alice',
 673: 'Talia',
 674: 'Molly',
 675: 'Claire',
 676: 'Yitty',
 677: 'Eloise',
 678: 'Margaret',
 679: 'Sloane',
 680: 'Caroline',
 681: 'Hazel',
 682: 'Ariella',
 683: 'Madeline',
 684: 'Isabelle',
 685: 'Yides',
 686: 'Nina',
 687: 'Quinn',
 688: 'Beatrice',
 689: 'Bella',
 690: 'Vera',
 691: 'Liliana',
 692: 'Adele',
 693: 'Amina',
 694: 'Audrey',
 695: 'Ellie',
 696: 'Fraidy',
 697: 'Lila',
 698: 'Lucia',
 699: 'Lyla',
 700: 'Alessia',
 701: 'Aurora',
 702: 'Francesca',
 703: 'Gianna',
 704: 'Kayla',
 705: 'Maeve',
 706: 'Ada',
 707: 'Ayla',
 708: 'Fiona',
 709: 'Goldy',
 710: 'Jane',
 711: 'Pearl',
 712: 'Cecilia',
 713: 'Henny',
 714: 'Ruchy',
 715: 'Hailey',
 716: 'Madeleine',
 717: 'Nechama',
 718: 'Celine',
 719: 'Frances',
 720: 'Liv',
 721: 'Skylar',
 722: 'Angelina',
 723: 'Bruchy',
 724: 'Catherine',
 725: 'Gemma',
 726: 'Juliana',
 727: 'Lina',
 728: 'Mindy',
 729: 'Nicole',
 730: 'Sabrina',
 731: 'Adeline',
 732: 'Annabelle',
 733: 'Bracha',
 734: 'Eliza',
 735: 'Elle',
 736: 'Juliet',
 737: 'June',
 738: 'Sasha',
 739: 'Alessandra',
 740: 'Arianna',
 741: 'Chavy',
 742: 'Lea',
 743: 'Mariam',
 744: 'Olive',
 745: 'Parker',
 746: 'Samantha',
 747: 'Siena',
 748: 'Yael',
 749: 'Yehudis',
 750: 'Adina',
 751: 'Aisha',
 752: 'Alma',
 753: 'Blima',
 754: 'Breindy',
 755: 'Dylan',
 756: 'Etty',
 757: 'Faiga',
 758: 'Layan',
 759: 'Pessy',
 760: 'Vivienne',
 761: 'Yocheved',
 762: 'Zissy',
 763: 'Laila',
 764: 'Adriana',
 765: 'Anastasia',
 766: 'Diana',
 767: 'Elisheva',
 768: 'Hinda',
 769: 'Iris',
 770: 'Kaia',
 771: 'Maryam',
 772: 'Poppy',
 773: 'Rochel',
 774: 'Serena',
 775: 'Shoshana',
 776: 'Simone',
 777: 'Sydney',
 778: 'Zoey',
 779: 'Adelaide',
 780: 'Ahuva',
 781: 'Blimy',
 782: 'Elena',
 783: 'Eve',
 784: 'Frimet',
 785: 'Imona',
 786: 'Lana',
 787: 'Leila',
 788: 'Lena',
 789: 'Liba',
 790: 'Mackenzie',
 791: 'Reese',
 792: 'Veronica',
 793: 'Addison',
 794: 'Colette',
 795: 'Devora',
 796: 'Eden',
 797: 'Edith',
 798: 'Georgia',
 799: 'Hadassah',
 800: 'Lia',
 801: 'Liana',
 802: 'Louise',
 803: 'Raizel',
 804: 'Batsheva',
 805: 'Blake',
 806: 'Emmy',
 807: 'Jenna',
 808: 'Katherine',
 809: 'Madelyn',
 810: 'Mary',
 811: 'Paige',
 812: 'Perel',
 813: 'Phoebe',
 814: 'Savannah',
 815: 'Summer',
 816: 'Willa',
 817: 'Cora',
 818: 'Esme',
 819: 'Frady',
 820: 'Genevieve',
 821: 'Gittel',
 822: 'Jana',
 823: 'Lilah',
 824: 'Michelle',
 825: 'Piper',
 826: 'Ruth',
 827: 'Shaindel',
 828: 'Amelie',
 829: 'Amira',
 830: 'Ana',
 831: 'Aviva',
 832: 'Elise',
 833: 'Everly',
 834: 'Frida',
 835: 'Hanna',
 836: 'Ivy',
 837: 'Keira',
 838: 'Lara',
 839: 'Lilly',
 840: 'Luciana',
 841: 'Mira',
 842: 'Remi',
 843: 'Roizy',
 844: 'Sima',
 845: 'Aliza',
 846: 'Arya',
 847: 'Autumn',
 848: 'Camilla',
 849: 'Charlie',
 850: 'Emerson',
 851: 'Giuliana',
 852: 'Idy',
 853: 'Julianna',
 854: 'Laura',
 855: 'Lola',
 856: 'Louisa',
 857: 'Malika',
 858: 'Matilda',
 859: 'Nova',
 860: 'Rosa',
 861: 'Shevy',
 862: 'Suri',
 863: 'Willow',
 864: 'Jessica',
 865: 'Zelda',
 866: 'Vienna',
 867: 'Tziporah',
 868: 'Sylvie',
 869: 'Romy',
 870: 'Remy',
 871: 'Nadia',
 872: 'Morgan',
 873: 'Kamila',
 874: 'Jade',
 875: 'Iymona',
 876: 'Evie',
 877: 'Elliott',
 878: 'Daphne',
 879: 'Daniella',
 880: 'Annabel',
 881: 'Alyssa',
 882: 'Alina',
 883: 'Golda',
 884: 'Jasmine',
 885: 'Fradel',
 886: 'Malak',
 887: 'Muslima',
 888: 'Nava',
 889: 'Perry',
 890: 'Shaina',
 891: 'Estelle',
 892: 'Emery',
 893: 'Devoiry',
 894: 'Dana',
 895: 'Brooke',
 896: 'Bina',
 897: 'Bianca',
 898: 'Ayala',
 899: 'Aurelia',
 900: 'Athena',
 901: 'Allison',
 902: 'Sylvia',
 903: 'Thea',
 904: 'Tzippy',
 905: 'Yasmina',
 906: 'Gabriela',
 907: 'Gabrielle',
 908: 'Georgina',
 909: 'Rosie',
 910: 'Anya',
 911: 'Aubrey',
 912: 'Aya',
 913: 'Brielle',
 914: 'Camila',
 915: 'Celia',
 916: 'Dalia',
 917: 'Dua',
 918: 'Ester',
 919: 'Goldie',
 920: 'Helena',
 921: 'Hendy',
 922: 'Ines',
 923: 'Jacqueline',
 924: 'Leia',
 925: 'Livia',
 926: 'Lucille',
 927: 'Meira',
 928: 'Melissa',
 929: 'Michal',
 930: 'Milana',
 931: 'Millie',
 932: 'Noor',
 933: 'Peyton',
 934: 'Reem',
 935: 'Ruchel',
 936: 'Samira',
 937: 'Shifra',
 938: 'Shira',
 939: 'Tzipora',
 940: 'Winnie',
 941: 'Zara',
 942: 'Kira',
 943: 'Tessa',
 944: 'Serafina',
 945: 'Riva',
 946: 'Reizy',
 947: 'Noelle',
 948: 'Natalia',
 949: 'Miri',
 950: 'Lydia',
 951: 'Lielle',
 952: 'Juniper',
 953: 'Giovanna',
 954: 'Frieda',
 955: 'Fatima',
 956: 'Devory',
 957: 'Dahlia',
 958: 'Celeste',
 959: 'Camille',
 960: 'Brooklyn',
 961: 'Brianna',
 962: 'Blair',
 963: 'Astrid',
 964: 'Amara',
 965: 'Aliya',
 966: 'Ethan',
 967: 'Lucas',
 968: 'Aiden',
 969: 'Muhammad',
 970: 'Jayden',
 971: 'Ryan',
 972: 'Jasper',
 973: 'Liam',
 974: 'Daniel',
 975: 'Noah',
 976: 'Mason',
 977: 'Leo',
 978: 'William',
 979: 'Ayaan',
 980: 'Evan',
 981: 'Nathan',
 982: 'Alexander',
 983: 'Jason',
 984: 'Oliver',
 985: 'Henry',
 986: 'Mohammad',
 987: 'Austin',
 988: 'Kyle',
 989: 'Aaron',
 990: 'Arham',
 991: 'Dylan',
 992: 'Justin',
 993: 'Eric',
 994: 'Matthew',
 995: 'Andrew',
 996: 'Ibrahim',
 997: 'Abdullah',
 998: 'Adam',
 999: 'Ian',
 ...}

In [20]:
s = df["Child's First Name"]

In [19]:
l = ["a", "b", "c"]
" , ".join(l)

'a , b , c'

In [23]:
", ".join(s.str.title().drop_duplicates().sort_values())

"Aahil, Aaliyah, Aarav, Aaron, Aarya, Aaryan, Aayan, Aayat, Abby, Abdiel, Abdoul, Abdoulaye, Abdul, Abdullah, Abdulloh, Abe, Abel, Abigail, Aboubacar, Abraham, Abrar, Abrielle, Abril, Abubakr, Ace, Ada, Adalynn, Adam, Adan, Addison, Adelaide, Adele, Adelina, Adeline, Adelyn, Adelynn, Aden, Adiel, Adina, Aditya, Adonis, Adrian, Adriana, Adrianna, Adriel, Adyan, Ahad, Aharon, Ahmad, Ahmed, Ahnaf, Ahron, Ahuva, Aicha, Aidan, Aiden, Ailani, Aileen, Aimee, Aisha, Aissata, Aissatou, Aitana, Aiza, Aizah, Akiva, Alahia, Alaia, Alaina, Alan, Alana, Alani, Alanis, Alanna, Alayna, Alba, Albert, Alberto, Aldo, Aleah, Alec, Aleena, Alejandra, Alejandro, Aleksander, Aleksandra, Alessandra, Alessandro, Alessia, Alex, Alexa, Alexander, Alexandra, Alexandria, Alexia, Alexis, Alfred, Alfredo, Ali, Alia, Aliah, Alice, Alicia, Alijah, Alina, Alisa, Alisha, Alison, Alissa, Alisson, Aliya, Aliyah, Aliza, Allan, Allen, Allison, Allyson, Alma, Alondra, Alonso, Alpha, Alston, Alter, Alvin, Alyson, Alyssa, Amadou, Amaia, Amalia, Amanda, Amani, Amar'E, Amara, Amare, Amari, Amaya, Amayah, Ambar, Amber, Amberly, Ameer, Amelia, Amelie, Amia, Amina, Aminata, Amir, Amira, Amirah, Amirjon, Amiya, Amiyah, Amora, Amrom, Amy, Ana, Anabel, Anabella, Anabelle, Anabia, Anahi, Anais, Analia, Ananya, Anas, Anastasia, Anaya, Anayah, Anderson, Andre, Andrea, Andres, Andrew, Andy, Angel, Angela, Angelica, Angelina, Angeline, Angelique, Angelo, Angely, Angie, Angus, Anika, Anisa, Anisha, Aniya, Aniyah, Anjali, Anna, Annabel, Annabella, Annabelle, Annalise, Anne, Annie, Annika, Ansel, Anson, Anthony, Anton, Antonella, Antonia, Antonio, Anya, April, Arabella, Archer, Arden, Arely, Arham, Ari, Aria, Ariadna, Ariadne, Ariah, Arian, Ariana, Arianna, Arianny, Ariel, Ariela, Ariella, Arielle, Arisha, Ariyah, Arjun, Arleth, Arlette, Arlo, Armaan, Armando, Armani, Aron, Arthur, Arturo, Arvin, Arya, Aryan, Arye, Aryeh, Asher, Ashley, Ashly, Ashton, Asia, Astrid, Atara, Athena, Atticus, Aubree, Aubrey, Audrey, August, Augustus, Aurelia, Aurora, Austin, Autumn, Ava, Avery, Avi, Aviel, Avigail, Avital, Aviva, Avraham, Avril, Avrohom, Avrum, Awa, Axel, Aya, Ayaan, Ayala, Ayan, Ayanna, Ayat, Ayden, Aydin, Ayelet, Ayesha, Ayla, Ayleen, Aylin, Ayra, Azaan, Azaria, Azariah, Aziza, Baila, Bailey, Barbara, Baruch, Basya, Batsheva, Batya, Beatrice, Beatrix, Beau, Beckett, Belen, Bella, Ben, Benjamin, Bennett, Benson, Bentzion, Benzion, Berish, Berl, Bethany, Bianca, Billie, Bina, Bintou, Binyamin, Binyomin, Blair, Blake, Blessing, Blima, Blimy, Bodhi, Bonnie, Boruch, Boubacar, Bowen, Bracha, Bradley, Brady, Brandon, Brayan, Brayden, Breindy, Brenda, Brendan, Bria, Brian, Briana, Brianna, Brianny, Bridget, Briella, Brielle, Brigitte, Britney, Brittany, Brody, Brooke, Brooklyn, Brooks, Bruce, Brucha, Bruchy, Bruno, Bryan, Bryanna, Bryant, Bryce, Brynn, Bryson, Burech, Byron, Caden, Caiden, Cairo, Caitlin, Caleb, Cali, Callie, Calvin, Camden, Cameron, Camila, Camilla, Camille, Camilo, Camren, Carina, Carla, Carlos, Carly, Carmelo, Carmen, Carmine, Carolina, Caroline, Carson, Carter, Casey, Cassandra, Cassidy, Cataleya, Catalina, Catherine, Cayden, Cecelia, Cecilia, Celeste, Celia, Celine, Cesar, Chace, Chad, Chaim, Chana, Chance, Chanel, Chanie, Chany, Charles, Charlie, Charlotte, Chase, Chava, Chavy, Chaya, Chelsea, Cheskel, Chesky, Cheyenne, Chiara, Chloe, Chris, Christian, Christina, Christine, Christopher, Christy, Cindy, Claire, Clara, Clark, Claudia, Clementine, Cleo, Cody, Cole, Colette, Colin, Colton, Connie, Connor, Conor, Cooper, Cora, Corey, Cormac, Cristian, Cristina, Cristofer, Cristopher, Crosby, Crystal, Cynthia, Cyrus, Dahlia, Daisy, Dakota, Daleyza, Dalia, Dallas, Damani, Damari, Damaris, Damian, Damien, Damon, Dana, Daniel, Daniela, Daniella, Danielle, Danna, Danny, Dante, Daphne, Dara, Daria, Dariel, Darius, Darren, Darwin, Dashiell, David, Dayana, Dean, Deborah, Declan, Delilah, Demi, Denis, Denise, Denisse, Dennis, Denzel, Dereck, Derek, Derick, Derrick, Desmond, Destiny, Devin, Devoiry, Devon, Devora, Devorah, Devory, Diana, Diego, Dilan, Dillon, Dina, Dion, Dior, Diya, Diyora, Dominic, Dominick, Donovan, Doris, Dov, Dovid, Dream, Drew, Dua, Dulce, Duvid, Dwayne, Dylan, Ean, Eason, Eddie, Eddy, Eden, Edgar, Edison, Edith, Eduardo, Edward, Edwin, Efraim, Egypt, Eileen, Eitan, Elaine, Elan, Eleanor, Elena, Eleni, Eli, Eliam, Elian, Eliana, Elianna, Elianny, Elias, Eliel, Eliezer, Elijah, Elimelech, Elina, Eliot, Elisa, Elise, Elisheva, Eliyahu, Eliza, Elizabeth, Ella, Elle, Elliana, Ellie, Elliot, Elliott, Ellis, Elodie, Eloise, Elsa, Eluzer, Elvin, Elvis, Elya, Emaan, Emani, Emanuel, Emely, Emerson, Emery, Emil, Emilia, Emiliano, Emilio, Emily, Emir, Emma, Emmanuel, Emmanuella, Emmeline, Emmett, Emmy, Empress, Enrique, Enzo, Ephraim, Eric, Erica, Erick, Erik, Erika, Erin, Ermias, Eshaal, Eshal, Eshan, Esme, Esmeralda, Essence, Esteban, Estelle, Ester, Esther, Estrella, Esty, Ethan, Etty, Eunice, Eva, Evan, Evangeline, Eve, Evelina, Evelyn, Everett, Everly, Evie, Eyad, Ezekiel, Ezequiel, Ezra, Ezriel, Fabian, Faiga, Faigy, Faith, Fanta, Farah, Farhan, Farida, Fatima, Fatou, Fatoumata, Felipe, Felix, Fernanda, Fernando, Feynman, Filip, Finley, Finn, Finnegan, Fiona, Fishel, Florence, Fradel, Frady, Fraidy, Frances, Francesca, Francesco, Francis, Francisco, Frank, Franklin, Freddy, Frederick, Freida, Freya, Frida, Frieda, Frimet, Gabriel, Gabriela, Gabriella, Gabrielle, Gael, Gaia, Galilea, Gary, Gavin, Gavriel, Gemma, Genesis, Genevieve, George, Georgia, Georgina, Geraldine, Gerard, Gerardo, Gia, Giada, Giancarlo, Gianluca, Gianna, Gianni, Gideon, Giovani, Giovanna, Giovanni, Giovanny, Giselle, Gittel, Gitty, Giulia, Giuliana, Giuseppe, Golda, Goldie, Goldy, Gordon, Grace, Graham, Grant, Grayson, Gregory, Greta, Grey, Greyson, Griffin, Guadalupe, Gustavo, Guy, Gwendolyn, Hadassa, Hadassah, Hadley, Hafsa, Hailey, Hailie, Haley, Hamza, Hana, Haniya, Hanley, Hanna, Hannah, Hao, Hareem, Harley, Harlow, Harmony, Harper, Harrison, Harry, Harvey, Hashim, Hassan, Hawa, Hayden, Haylee, Hayley, Hazel, Heaven, Heavenly, Hector, Heidi, Heidy, Helen, Helena, Henchy, Hendy, Henny, Henry, Herman, Hersh, Hershel, Hershy, Hillel, Hinda, Hindy, Holden, Hoorain, Hope, Hudson, Hugo, Hunter, Ian, Ibrahim, Ibrahima, Ibrohim, Idris, Idy, Iker, Ilan, Ilana, Imani, Imogen, Imona, Imran, Inaaya, Inaya, Ines, Ingrid, Irene, Iris, Isaac, Isabel, Isabela, Isabella, Isabelle, Isaiah, Isaias, Ishaan, Ishmael, Isiah, Isis, Isla, Ismael, Ismail, Israel, Issac, Itzel, Ivaan, Ivan, Ivanna, Ivy, Iymona, Izabella, Izaiah, Jabari, Jace, Jack, Jackson, Jacky, Jacob, Jacqueline, Jad, Jada, Jade, Jaden, Jadiel, Jael, Jaelyn, Jaelynn, Jaheim, Jahir, Jahmir, Jaiden, Jaime, Jair, Jake, Jakob, Jakub, Jalen, Jaliyah, Jamal, Jamar, Jamari, Jamel, James, Jameson, Jamie, Jamir, Jana, Janae, Jane, Janelle, Janice, Janiel, Janiya, Janiyah, Jannat, Jannatul, Januel, Jared, Jariel, Jasiah, Jaslene, Jaslyn, Jasmin, Jasmina, Jasmine, Jason, Jasper, Javier, Jax, Jaxon, Jaxson, Jay, Jayce, Jayceon, Jaycob, Jayda, Jayden, Jayla, Jaylah, Jaylee, Jayleen, Jaylen, Jaylene, Jaylin, Jaylyn, Jayren, Jayson, Jaziel, Jazlyn, Jazmin, Jazmine, Jazzlyn, Jean, Jeancarlos, Jefferson, Jeffrey, Jelani, Jencarlos, Jenna, Jennifer, Jenny, Jeremiah, Jeremias, Jeremy, Jermaine, Jerry, Jesse, Jessica, Jessie, Jesus, Jewel, Jia, Jimena, Jimmy, Joanna, Joaquin, Jocelyn, Joel, Johan, Johann, Johanna, John, Johnathan, Johnny, Jolie, Jolin, Jonael, Jonah, Jonas, Jonathan, Jordan, Jordi, Jordyn, Jorge, Jose, Josef, Joselyn, Joseph, Josephine, Joshua, Josiah, Josie, Josue, Journee, Journey, Joy, Joyce, Joziah, Juan, Judah, Jude, Judy, Julia, Julian, Juliana, Julianna, Julie, Julien, Juliet, Juliette, Julio, Julissa, Julius, Jun, June, Junior, Juniper, Justice, Justin, Kabir, Kacper, Kaden, Kadiatou, Kaelyn, Kai, Kaia, Kaiden, Kailani, Kailee, Kailey, Kailyn, Kairo, Kaitlyn, Kalani, Kaleb, Kali, Kaliyah, Kamari, Kameron, Kamila, Kamiyah, Kamren, Karas, Kareem, Karen, Karina, Karla, Karter, Kassandra, Kate, Katelyn, Katelynn, Katerina, Katherine, Kathryn, Katie, Kaya, Kayden, Kayla, Kaylani, Kaylee, Kayleen, Kayleigh, Kaylie, Kaylin, Kayson, Kazi, Kehlani, Keila, Keily, Keira, Keith, Kelly, Kelsey, Kelvin, Kendra, Kendrick, Kennedi, Kennedy, Kenneth, Kenny, Kenya, Kenzie, Kenzo, Kevin, Keyla, Khadija, Khadijah, Khaleesi, Khalil, Khari, Khloe, Kian, Kiara, Kiera, Kieran, Kimberly, Kimi, Kimora, King, Kingsley, Kingston, Kira, Kiyan, Kori, Kourtney, Krish, Kristen, Kristian, Kristina, Krystal, Kyla, Kyle, Kylee, Kylie, Kymani, Kyree, Kyrie, Kyro, Kyson, Laia, Laila, Lailah, Laith, Lamar, Lana, Landon, Lara, Larry, Laura, Lauren, Lauryn, Lawrence, Layan, Layla, Lazer, Lea, Leah, Leandro, Leanna, Leela, Legend, Leia, Leibish, Leila, Leilani, Leilany, Lena, Lennox, Lenny, Leo, Leon, Leona, Leonard, Leonardo, Leonel, Leonidas, Leora, Lesley, Leslie, Lesly, Lev, Levi, Leyla, Lia, Liah, Liam, Lian, Liana, Lianna, Liba, Libby, Lielle, Lila, Lilah, Lilia, Lilian, Liliana, Lillian, Lilliana, Lilly, Lily, Lina, Lincoln, Linda, Lindsay, Lionel, Liora, Lipa, Lisa, Litzy, Liv, Livia, Liyana, Liz, Lizbeth, Lizeth, Logan, Lola, London, Londyn, Lorenzo, Louis, Louisa, Louise, Luca, Lucas, Lucia, Lucian, Luciana, Lucien, Lucille, Lucy, Luis, Luka, Lukas, Luke, Luna, Luz, Lyanna, Lydia, Lyla, Lyric, Mabel, Mackenzie, Maddox, Madeleine, Madeline, Madelyn, Madina, Madison, Madisyn, Mae, Maeve, Magaly, Maggie, Mahamadou, Mahnoor, Maia, Maimouna, Maisie, Maison, Maite, Major, Makai, Makayla, Makenzie, Makhi, Maksim, Malachi, Malak, Malaysia, Malcolm, Malek, Malia, Maliha, Malik, Malika, Maliyah, Malka, Malky, Mamadou, Mandy, Manha, Manuel, Marc, Marcel, Marcelo, Marco, Marcos, Marcus, Margaret, Margaux, Margot, Maria, Mariah, Mariam, Mariama, Mariana, Marie, Marielle, Marilyn, Marina, Mario, Marisol, Marjorie, Mark, Marley, Marlon, Marlowe, Marquis, Martin, Marvin, Mary, Maryam, Mason, Massimo, Mateo, Mathew, Mathias, Matias, Matilda, Matteo, Matthew, Matthias, Maurice, Mauricio, Maverick, Max, Maxim, Maximilian, Maximiliano, Maximo, Maximus, Maxwell, Maya, Mayar, Mayer, Mayson, Mckenzie, Md, Mechel, Meera, Megan, Meghan, Meilech, Meir, Meira, Mekhi, Melania, Melanie, Melany, Melina, Melissa, Melody, Melvin, Menachem, Menashe, Mendel, Mendy, Menucha, Meshilem, Messiah, Meyer, Mia, Miah, Micaela, Micah, Michael, Michaela, Michal, Michelle, Miguel, Mika, Mikael, Mikaela, Mikayla, Mike, Mila, Milagros, Milan, Milana, Milani, Milania, Milena, Miles, Miley, Millie, Milo, Mina, Mindy, Mira, Miracle, Miranda, Mirel, Miri, Miriam, Misael, Miya, Mohamed, Mohammad, Mohammed, Moises, Moishe, Moishy, Mollie, Molly, Monica, Monserrat, Montserrat, Mordche, Mordechai, Morgan, Morris, Moses, Moshe, Motty, Mouhamed, Moussa, Muhammad, Muhammad Ali, Muntaha, Musa, Mushka, Muslima, Mustafa, Mya, Myles, Myra, Nabiha, Nachman, Nadia, Naftali, Naftuli, Nahla, Nailah, Nala, Nalani, Nana, Nancy, Naomi, Nashla, Nashley, Nashly, Nasir, Natalia, Natalie, Nataly, Natasha, Nathalia, Nathalie, Nathaly, Nathan, Nathanael, Nathaniel, Nava, Nayeli, Nayla, Nazir, Nechama, Nehemiah, Neil, Nelson, Nevaeh, Neymar, Nia, Niam, Nicholas, Nico, Nicolas, Nicole, Nicolette, Nigel, Nikhil, Nikita, Nikolai, Nikolas, Nina, Noa, Noach, Noah, Noam, Noel, Noelle, Noemi, Nolan, Noor, Nora, Norah, Nosson, Nova, Nuchem, Nusrat, Nyah, Nyla, Nylah, Olive, Oliver, Olivia, Olympia, Omar, Omari, Ophelia, Oren, Ori, Orion, Orlando, Orly, Oscar, Oskar, Otis, Otto, Oumar, Oumou, Ousmane, Owen, Pablo, Paige, Paloma, Pamela, Paola, Paris, Parizoda, Parker, Patrick, Paul, Paula, Payton, Pearl, Pedro, Penelope, Perel, Peretz, Perl, Perla, Perry, Pessy, Peter, Peyton, Philip, Phoebe, Phoenix, Pierce, Pinchas, Pinchus, Piper, Polina, Poppy, Precious, Preston, Prince, Princess, Princeton, Priscilla, Queena, Queenie, Quincy, Quinn, Rachel, Rafael, Rahaf, Raina, Raizel, Raizy, Ralph, Randy, Raphael, Raquel, Raul, Raya, Rayan, Raymond, Rayna, Rayyan, Reagan, Rebecca, Reed, Reem, Reese, Rehan, Reid, Reign, Reina, Reizy, Remi, Remy, Rena, Renata, Renee, Reuben, Reuven, Rhea, Rhys, Ricardo, Richard, Ricky, Rifka, Rifky, Rihanna, Riley, Rina, Riva, River, Rivka, Rivkah, Rivky, Riya, Robert, Roberto, Rocco, Rochel, Rodney, Rodrigo, Roger, Rohaan, Rohan, Roiza, Roizy, Roman, Romeo, Romy, Ronald, Ronaldo, Ronan, Rory, Rosa, Rose, Roselyn, Rosemary, Rosie, Rowan, Roy, Royal, Royalty, Royce, Ruben, Ruby, Ruchel, Ruchy, Russell, Ruth, Ryan, Ryder, Rylee, Sabiha, Sabina, Sabrina, Sade, Sadie, Safa, Safwan, Sage, Sahil, Saif, Saifan, Saige, Saint, Salma, Salome, Salvatore, Sam, Sama, Samaira, Samantha, Samara, Sami, Samir, Samira, Samiya, Samiyah, Sammy, Samuel, Sanaa, Sanai, Sandra, Saniya, Saniyah, Santiago, Santino, Saoirse, Sapphire, Sara, Sarah, Sarahi, Sarai, Sari, Sariah, Sarina, Sariyah, Sasha, Saul, Savanna, Savannah, Savion, Sawyer, Scarlet, Scarlett, Scott, Sean, Sebastian, Sekou, Selena, Selim, Selina, Selma, Serafina, Serena, Serenity, Sergio, Seth, Sevyn, Shaina, Shaindel, Shaindy, Shalom, Shane, Shania, Shaniya, Sharon, Shaul, Shawn, Shaya, Shayaan, Shayan, Shayla, Shayna, Shea, Sheldon, Sherlyn, Sherry, Shevy, Shia, Shifra, Shiloh, Shimon, Shira, Shirley, Shloime, Shloimy, Shloma, Shlome, Shlomo, Shmiel, Shmuel, Shneur, Sholom, Shoshana, Shraga, Shreya, Shukrona, Shulem, Sidney, Siena, Sienna, Silas, Sima, Simcha, Simi, Simon, Simone, Sincere, Sky, Skye, Skyla, Skylah, Skylar, Skyler, Sloane, Sofia, Solomon, Sonia, Sonny, Sophia, Sophie, Soraya, Spencer, Stacey, Stacy, Stanley, Stefan, Stella, Stephanie, Stephany, Stephen, Steve, Steven, Subhan, Sulaiman, Summer, Sunny, Suri, Sury, Sydney, Syed, Syeda, Sylvia, Sylvie, Symphony, Tabitha, Tahmid, Talia, Taliyah, Tallulah, Tamar, Tamara, Tamia, Tanisha, Taraji, Tasnim, Tatiana, Taylor, Teagan, Tehila, Tenzin, Terrell, Terrence, Terry, Tess, Tessa, Thea, Theo, Theodora, Theodore, Thiago, Thierno, Thomas, Tiana, Tianna, Tiffany, Timothy, Timur, Tina, Toba, Tobias, Toby, Tomas, Tony, Tori, Tova, Trany, Travis, Trinity, Tristan, Troy, Tyler, Tzipora, Tziporah, Tzippy, Tzirel, Tzivia, Tzvi, Umar, Uriel, Usher, Valentin, Valentina, Valentino, Valeria, Valerie, Valery, Vanessa, Veer, Vera, Veronica, Veronika, Vicky, Victor, Victoria, Vienna, Vihaan, Viktor, Vincent, Vincenzo, Violet, Violeta, Virginia, Vivian, Viviana, Vivienne, Walker, Walter, Wendy, Wesley, Weston, Wilder, Willa, William, Willow, Wilson, Winnie, Winston, Winter, Wolf, Wyatt, Wynter, Xander, Xavier, Ximena, Xin, Yaakov, Yachet, Yadiel, Yael, Yahir, Yahya, Yair, Yakov, Yamilet, Yamileth, Yandel, Yaniel, Yanky, Yara, Yareli, Yaretzi, Yariel, Yaritza, Yaseen, Yasmin, Yasmina, Yasmine, Yassin, Yechezkel, Yechiel, Yehoshua, Yehuda, Yehudah, Yehudis, Yerik, Yesenia, Yeshaya, Yida, Yidel, Yides, Yisrael, Yisroel, Yitta, Yitty, Yitzchak, Yitzchok, Yocheved, Yoel, Yona, Yonah, Yonatan, Yosef, Yossi, Younis, Yousef, Youssef, Yu, Yuna, Yusuf, Zabdiel, Zachariah, Zachary, Zahara, Zahir, Zahra, Zaid, Zaiden, Zain, Zainab, Zaire, Zakaria, Zalmen, Zamir, Zander, Zane, Zaniyah, Zara, Zaria, Zariah, Zayan, Zayden, Zayn, Zelda, Zendaya, Zev, Zhuri, Zion, Zissy, Zoe, Zoey, Zora, Zoya, Zuri, Zyaire"

In [30]:
df.to_csv("nyc.csv", index=False, columns=["Gender", "Ethnicity", "Child's First Name"], encoding="utf-8")

In [31]:
import pandas as pd

In [32]:
pd.read_excel(r"pandas\pandas\Data - Single Worksheet.xlsx")

  First Name Last Name           City Gender
0    Brandon     James          Miami      M
1       Sean   Hawkins         Denver      M
2       Judy       Day    Los Angeles      F
3     Ashley      Ruiz  San Francisco      F
4  Stephanie     Gomez       Portland      F

In [40]:
data = pd.read_excel(r"pandas\pandas\Data - Multiple Worksheets.xlsx", sheet_name=["Data 1","Data 2"])

In [42]:
data["Data 1"]

  First Name Last Name           City Gender
0    Brandon     James          Miami      M
1       Sean   Hawkins         Denver      M
2       Judy       Day    Los Angeles      F
3     Ashley      Ruiz  San Francisco      F
4  Stephanie     Gomez       Portland      F

In [43]:
pd.read_excel(r"pandas\pandas\Data - Multiple Worksheets.xlsx", sheet_name=None)

{'Data 1':   First Name Last Name           City Gender
 0    Brandon     James          Miami      M
 1       Sean   Hawkins         Denver      M
 2       Judy       Day    Los Angeles      F
 3     Ashley      Ruiz  San Francisco      F
 4  Stephanie     Gomez       Portland      F,
 'Data 2':   First Name Last Name           City Gender
 0     Parker     Power        Raleigh      F
 1    Preston  Prescott   Philadelphia      F
 2    Ronaldo   Donaldo         Bangor      M
 3      Megan   Stiller  San Francisco      M
 4     Bustin    Jieber         Austin      F}

In [50]:
mask1 = df["Gender"] == "FEMALE"
mask2 = mask1 == False

In [60]:
girls = df[mask1]
boys = df[mask2]

In [59]:
genders = df.groupby("Gender")
genders.get_group("FEMALE")

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
0,2019,FEMALE,ASIAN AND PACIFIC ISLANDER,Chloe,131,1
1,2019,FEMALE,ASIAN AND PACIFIC ISLANDER,Olivia,109,2
2,2019,FEMALE,ASIAN AND PACIFIC ISLANDER,Mia,88,3
3,2019,FEMALE,ASIAN AND PACIFIC ISLANDER,Sophia,71,4
4,2019,FEMALE,ASIAN AND PACIFIC ISLANDER,Emma,71,4
...,...,...,...,...,...,...
51838,2011,FEMALE,WHITE NON HISPANIC,AUTUMN,10,81
51839,2011,FEMALE,WHITE NON HISPANIC,AYLA,10,81
51840,2011,FEMALE,WHITE NON HISPANIC,BIANCA,10,81
51841,2011,FEMALE,WHITE NON HISPANIC,FRIMET,10,81
51842,2011,FEMALE,WHITE NON HISPANIC,ANGELICA,10,81

In [ ]:
excel = pd.ExcelWriter("Baby_names.xlsx")
girls.to_excel(excel, sheet_name="Girls", index=False)
boys.to_excel(excel, sheet_name="Boys",  columns=["Year of Birth", "Gender"])
excel.close()

In [7]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}